{% extends 'base.html.twig' %}
{% block body %} 
 
<article>   
<article> 
        <h2>{{article.title}}</h2> 
        <div class="metadata">Edité le {{article.createdat|date('m/d/y')}}</div> 
        <div class="content"> 
            <img src="{{article.image}}" alt=""> 
            {{article.content|raw}}
           
        </div> 
    </article> 
</article> 
{% endblock %} 
